
.dropdown{
  position: fixed;
}
.dropdown-button{
  cursor: pointer;
}

.dropdown-content{
  position: absolute;
  display: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

