

body{
  font-family: roboto;
  padding-top: 70px;
  margin: 0px;
  font-family: Merriweather;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}
html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

p{
  margin: 0px;
  font-family: Merriweather;
}