.intro-website{
  display: flex;
  flex-direction: column;
  background-image: url('../Image/Facebook\ Image\ \(51\).jpg');
  background-position-y: -250px;
  background-size: cover;
  background-repeat: no-repeat;

  height: 400px;
  padding-top: 150px;
  padding-left: 50px;
  font-family: Roboto;
  position: relative;
  left: 0px;
  right:0px;
  top: 0px;
  font-family: Open Sans;
}
.heading-intro{
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.title-intro{
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px; 
}  
.content-intro{
  font-size: 15px;
  margin-top: 10px;
}