.intro-website{
  width: 100%;
  height: calc(100px + 50vw); /* Adjust height dynamically */
  background-image: url('../Image/Facebook\ Image\ \(51\).jpeg');
  background-size: cover;  /* Ensures the image covers the entire area */
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 150px;
  left: 0px;
  right:0px;
  top: 0px;
  margin: 0px;
}
