.slideshow-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  color: black;
  height: 100px;
}

.previous-but,.next-but{
  background: none;
  border: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.slide-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slide-category-text{
  font-size: 30px;
  padding-top: 12px;
}

.title-container div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 20px;
}
.slide-content a {
  border: 0;
}

.read-more-button{
  color: white;
  font-size: 30px;
  background-color: #c01f15;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: padding-top 1s,
  padding-bottom 1s,
  padding-left 1s,
  padding-right 1s;
}
.read-more-button:hover{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 36px;
  padding-right: 36px; 
}


.slide-content .title-container {
  text-align: left;
  flex-grow: 1;
}

.slide-content .title-container #slide-title {
  margin-top: 0;
}