.timer-container{
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../Image/Facebook\ Image\ \(51\)\ Small.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  color: #fff;
  font-family: sriracha;
  margin-top: 10px;
}
.timer-title{
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.timer-box{
  display: flex;
  gap: 90px;
}
.time{
  text-align: center;
}
.time p{
  font-size: 2.5rem;
  font-weight: 100;
  font-family: sriracha;
}
.time h2{
  font-size: 5rem;
  font-weight: 100;
}