.web-title-containers{
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Image/University\ Changes\ Blog\ Header.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Sriracha;
  padding: 80px 0px 50px 50px;
}
.web-title{
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: left;
}
.web-description-containers{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.web-description-title{
  font-size: 3rem;
  font-weight: 100;
  font-family: sriracha;
  text-align: left;
}
.web-description{
  font-size: 2.5rem;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}
